{% extends "layout.html" %} {% block content %}
<article class="col">
    <header class="post-header">
        <h1 class="post-title">{{ title }}</h1>
        <time class="post-date">{{ date }}</time>
    </header>

    <div class="post-body">{{ body | safe }}</div>
</article>
{% endblock content %} {% block footer %}
<footer class="post-footer col">
    <a href="/" class="back-link">&larr; All writing</a>
    <section class="bio">
        <img
            src="/static/images/profile.png"
            alt="Matheus Alves"
            class="bio-avatar"
        />
        <div class="bio-text">
            <p class="bio-name">Matheus Alves</p>
            <p>
                Software engineer focused on backend systems and Rust. Currently
                working on a database migration tool at
                <a href="https://eden.dev">Eden</a>.
            </p>
            <p>
                I also tinker on side projects like
                <a href="https://lohbi.com">lohbi</a> and
                <a href="https://github.com/matx64/synche">synche</a>. This is
                where I write about things I find interesting along the way.
            </p>
            <div class="bio-links">
                <a href="https://github.com/matx64">github</a>
                <a href="https://www.linkedin.com/in/matheustalves/"
                    >linkedin</a
                >
                <a href="mailto:hey.malves@gmail.com">email</a>
            </div>
        </div>
    </section>
</footer>
{% endblock footer %}
