<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="A static personal website for Matheus Alves." />
  <title>Matheus Alves</title>
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🦀</text></svg>" />
  <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
  <link rel="stylesheet" href="https://newcss.net/theme/terminal.css">
  <link rel="stylesheet" href="../static/styles/main.css" />
</head>

<body>
  <main class="container">
    <div>
      <div id="profile-header">
        <img src="../static/images/profile.png" alt="profile-img" />
        <h1>Hi, I'm Matheus 👋</h1>
      </div>
      <div id="profile-desc">
        I'm a developer from Brazil. I'm currently working in Inbenta as a
        Full Stack Developer and I have a degree in Computer Science. I'm most
        interested in software engineering, deep learning and embedded systems.
        I like fast & minimal software and I'm always tinkering with new tech.
      </div>
    </div>

    <div id="blog-container">
      <h1 style="text-align: center;">Blog Posts</h1>
      <ul>
        {% for post in posts %}
        <details>
          <summary><a href="blog/{{post.filename}}.html">{{ post.date }} - {{ post.title }}</a></summary>
          <p>{{ post.description }}</p>
        </details>
        {% endfor %}
      </ul>
    </div>
  </main>

  <footer id="footer">
    <span>© 2023 matx.dev</span>
    <p>
      <a href="https://github.com/matx64">github</a>
      |
      <a href="mailto:mathalves@proton.me">email</a>
    </p>
  </footer>
</body>

</html>