<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="description" content="Matheus Alves's Blog" />
    <meta
      name="keywords"
      content="software engineering, development, rust, coding, blog, Matheus Alves"
    />
    <meta name="author" content="Matheus Alves" />

    <meta name="robots" content="index, follow" />

    <meta name="og:title" content="Matheus Alves's Blog" />
    <meta name="og:description" content="Matheus Alves's Blog" />
    <meta
      name="og:image"
      content="https://matx.dev/static/images/profile.png"
    />
    <meta name="og:url" content="https://matx.dev" />
    <meta name="og:type" content="website" />

    <link rel="icon" href="../static/images/favicon.png" />

    <link rel="stylesheet" href="../static/styles/main.css" />

    <title>{% block title %}{{ title }}{% endblock title %}</title>
  </head>

  <body>
    {% block content %} {% endblock content %}
  </body>
</html>
