<html>

<head>
    {% include "header.html" %}
    <title>{{ title }} | matx</title>
</head>

<body>
    <main class="container">
        <div id="post-header">
            <div>
                <a href="/" style="cursor: pointer;">Home</a>
            </div>
            <h1>{{ title }}</h1>
            <p>{{ date }}</p>
            <h6>{{ description }}</h6>
        </div>
        <hr>
        <div id="post-body">
            {{ body|markdown }}
        </div>
    </main>
    {%include "footer.html" %}
</body>

</html>