h1,
h2,
h3 {
  border: unset;
}

ul {
  padding-left: unset;
}

#profile-header,
#profile-links,
#footer {
  text-align: center;
}

#profile-desc {
  text-align: justify;
}

#profile-header img {
  border: 2px solid white;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-bottom: unset;
}

#profile-header h1 {
  margin-bottom: 1rem !important;
}

#blog-container {
  margin-top: 3rem;
}

#post-header h1 {
  text-align: center;
}

#post-body {
  margin-top: 3rem;
}